*.o
*.so
.ccls-cache
.provisioned
ansible/group_vars/all
ansible/inventory/inventory
ansible/roles/*
ansible/site.yml
!ansible/roles/.keep
build/
cbsd.conf
site.retry
vars.mk
matrix-client
autom4te.cache/
config.log
config.status
configure
makeinclude.configured
fisean/config.h
src/fisean
.vscode
